<a href="https://colab.research.google.com/github/eduardodavi/Python_Fundamentos_/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Minha trilha de aprendizagem - Python**

Variáveis e Operadores

In [ ]:
#ATRIBUINDO O VALOR 2 A UMA VARIÁVEL
var_teste = 2

In [ ]:
#IMPRIMINDO O VALOR DA VARIÁVEL
var_teste

2

In [ ]:
#OUTRA FORMA DE IMPRIMIR
print(var_teste)

2

In [ ]:
#VERIFICANDO O TIPO DA VARIÁVEL
type(var_teste)

int

In [ ]:
#DEFININDO UMA VARIÁVEL TIPO FLOAR
var_teste1 = 9.5

In [ ]:
#VERIFICANDO O TIPO DA VARIÁVEL
type(var_teste1)

float

**DECLARAÇÃO MULTIPLA**

In [ ]:
pessoa1, pessoa2, pessoa3 = "David", "Eduardo", "Marques"

In [ ]:
pessoa1

'David'

In [ ]:
pessoa2

'Eduardo'

In [ ]:
pessoa3

'Marques'

In [ ]:
#DECLARAÇÃO MULTIPLA COM SINAL DE ATRIBUIÇÃO
fruta1 = fruta2 = fruta3 = "Laranja"

In [ ]:
fruta1

'Laranja'

In [ ]:
fruta2

'Laranja'

NÃO SE PODE USAR PALAVRAS RESERVADAS COMO NOME DE VARIÁVEL

False
class
finally
is
return
none
continue
for 
lambda
try
True
def
from
nonlocal
while
and
del
global
not
with
as
elif
if
or
yield
assert
else
import
pass
break
except
in
raise

**VARIÁVEIS ATRIBUÍDAS A OUTRAS VARIÁVEIS E ORDEM DOS OPERADORES**

In [ ]:
largura = 2

In [ ]:
altura = 5

In [ ]:
area = largura * altura

In [ ]:
area

10

In [ ]:
perimetro = 2 * largura + 2 * altura

In [ ]:
perimetro

14

In [ ]:
#A ODEM DAS OPERAÇÕES DEVE SER A MESMA DA MATEMATICA
perimetro = 2 * (largura + 2) * altura

In [ ]:
perimetro

40

**OPERAÇÕES COM VARIÁVEIS**

In [ ]:
idade1 = 25

In [ ]:
idade2 = 40

In [ ]:
idade1 + idade2

65

In [ ]:
idade1 - idade2

-15

In [ ]:
idade1 * idade2

1000

In [ ]:
idade1 / idade2

0.625

In [ ]:
idade1 % idade2

25

**CONCATENAÇÃO DAS VARIÁVEIS**

In [ ]:
nome = "David"

In [ ]:
sobrenome = "Marques"

In [ ]:
fullname = nome + " " + sobrenome

In [ ]:
fullname

'David Marques'

**STRINGS**

STRING É UMA SEQUENCIA IMUTÁVEL DE CARACTERES OU APENAS 1 CARACTER - PYTHON PODE USAR ÍNDICES PARA CHAMAR PARTES DA SEQUENCIA

EM PYTHON **USAMOS COLCHETES [ ] PARA REPRESENTAR O ÍNDICE DE UM OBJETO**

A INDEXAÇÃO EM PYTHON COMEÇA POR ZERO

PYTHON É UMA LINGUAGEM ORIENTADA A OBJETO

PODE SE UTILIZAR AS SIMPLES '' OU DUPLAS " "

In [ ]:
texto = "Python e Análise de Dados"

In [ ]:
texto[0]

'P'

In [ ]:
texto[1]

'y'

In [ ]:
"Python e Análise de Dados"

'Python e Análise de Dados'

In [ ]:
s = "Ciência de Dados"

In [ ]:
#OS : PODEM SER USADOS PARA EXECULTAR UM SLICING QUE FAZ A LEITURA DE UM PONTO DESIGNADO
s[:1]

'C'

In [ ]:
#A STRING ORIGINAL PERMANECE INALTERADA
s

'Ciência de Dados'

In [ ]:
#RETORNA TUDO ATÉ A POSIÇÃO 3
s[:3]

'Ciê'

In [ ]:
s[:]

'Ciência de Dados'

In [ ]:
#PODEMOS USAR A INDEXAÇÃO NEGATIVA PARA LER DE TRÁS PRA FRENTE
s[-1]

's'

In [ ]:
#PODEMOS RETORNAR TUDO, EXCETO AS 3 ÚLTUMAS LETRAS
s[:-3]

'Ciência de Da'

Também podemos usar a notação índice e fatiar a string em pedaços (o padrão é 1)

In [ ]:
s[::1]

'Ciência de Dados'

In [ ]:
#RETORNA A LETRA A CADA 2 POSIÇÕES
s[::2]

'Cêcad ao'

In [ ]:
#RETORNA A LETRA A CADA 1 POSIÇÃO DE TRÁS PRA FRENTE
s[::-1]

'sodaD ed aicnêiC'

In [ ]:
#RETORNA A LETRA A CADA 2 POSIÇÔES DE TRÁS PRA FRENTE
s[::-2]

'sdDe ini'

**PROPRIEDADES DA STRING**

In [ ]:
s

'Ciência de Dados'

In [ ]:
#NÃO SE PODE ALTERAR UM CARACTER DE UMA STRING
s [0] = "x"

TypeError: ignored

In [ ]:
#CONCATENANDO STRINGS
s + ' é vida'

'Ciência de Dados é vida'

In [ ]:
#PODEMOS USAR O SÍMBOLO DE MULTIPLICAÇÃO PARA CRIAR UMA REPETIÇÃO
letra = 'w'

In [ ]:
letra *3

'www'

**FUNÇÕES BUILT-IN DE STRINGS**

In [ ]:
s

'Ciência de Dados'

In [ ]:
#UPPER CASE: PASSA A STRING PARA MAIÚSCULA
s.upper()

'CIÊNCIA DE DADOS'

In [ ]:
#LOWER CASE: PASSA A STRING PARA MINÚSCULA
s.lower()

'ciência de dados'

In [ ]:
#DIVIDIR A STRING POR ESPAÇOS EM BRANCO (PADRÃO)
s.split()

['Ciência', 'de', 'Dados']

In [ ]:
#DIVIDIR A STRING POR ALGUM ELEMENTO ESPECÍFICO
s.split('de')

['Ciência ', ' Dados']

**FUNÇÕES STRINGS**

In [ ]:
s

'Ciência de Dados'

In [ ]:
#APENAS A PRIMEIRA LETRA COMO MAIÚSCULA
s.capitalize()

'Ciência de dados'

In [ ]:
#FUNÇÃO COUNT PARA VERIFICAR QUANTAS VEZES A LETRA APARECE NA STRING
s.count('i')

2

In [ ]:
#FUNÇÃO FIND PARA ENCONTRAR ENCONTRAR A POSIÇÃO DE UMA LETRA DENTRO DA STRING
s.find('a')

6

In [ ]:
#FUNÇÃO PARA VERIFICAR SE A STRING TEM VALOR MINÚSCULO
s.islower()

False

In [ ]:
#FUNÇÃO PARA VERIFICAR SE A STRING É VALOR ESPAÇO
s.isspace()

False

In [ ]:
#FUNÇÃO PARA VERIFICAR SE A STRING TERMINA COM DETERMINADA LETRA
s.endswith('s')

True

**COMPARANDO STRINGS**

In [ ]:
print ("Python" == "r")

False

In [ ]:
print ("Python" == "Python")

True

**ESTRUTURA DE DADOS-LISTAS**

AS LISTAS SÃO CONSTRUÍDAS COM O USO DE [ ] E VÍRGULAS SEPARANDO CADA ELEMENTO:

**LISTA[ITEM1, ITEM2, ITEM2]**

In [ ]:
#CRIANDO UMA LISTA
listadomercado = ["ovos, farinha, leite, achocolatado"]

In [ ]:
#IMPRIMINDO A LISTA
print(listadomercado)

['ovos, farinha, leite, achocolatado']

In [ ]:
#CRIANDO UMA SEGUNDA LISTA
listadomercado2 = ["bacon", "batata", "refrigerante", "detox"]

In [ ]:
#IMPRIMINDO A LISTA 2
print(listadomercado2)

['bacon', 'batata', 'refrigerante', 'detox']

In [ ]:
#EXTRAINDO O PRIMEIRO ELEMENTO DA LISTA 1
listadomercado[0]

'ovos, farinha, leite, achocolatado'

In [ ]:
#EXTRAINDO O PRIMEIRO ELEMENTO DA LISTA 2
listadomercado2[0]

'bacon'

In [ ]:
#CRIANDO UMA LISTA COM ITENS COM DIVERSOS TIPO
lista3 =[15, 100, "PUC-SP"]

In [ ]:
print(lista3)

[15, 100, 'PUC-SP']

In [ ]:
#ATRIBUINDO CADA VALOR DA LISTA A UMA VARIÁVEL
item1 = lista3[0]
item2 = lista3[1]
item3 = lista3[2]

In [ ]:
#IMPRIMINDO AS VARIÁVEIS
print(item1, item2, item3)

15 100 PUC-SP

**ATUALIZANDO UMA LISTA**

In [ ]:
#IMPRIMINDO UM ITEM DA LISTA
listadomercado2[2]

'refrigerante'

In [ ]:
#ATUALIZANDO UM ITEM DA LISTA
listadomercado2[2] = "cerveja"

In [ ]:
#IMPRIMINDO A LISTA ATUALIZADA
listadomercado2

['bacon', 'batata', 'cerveja', 'detox']

**DELETANDO UM ITEM DA LISTA**

In [ ]:
del listadomercado2[3]

In [ ]:
#IMPRIMINDO A LISTA ALTERADA
listadomercado2

['bacon', 'batata', 'cerveja']

**LISTAS DE LISTAS(LISTAS ALINHADAS)**

In [ ]:
#CRIANDO UMA LISTA DE LISTA
listas = [[1,2,3], [3,2,1], [99,33,66,55]]

In [ ]:
listas

[[1, 2, 3], [3, 2, 1], [99, 33, 66, 55]]

In [ ]:
#ATRIBUINDO UM ITEM DA LISTA A UMA VARIÁVEL
a = listas[0]

In [ ]:
#IMPRIMINDO A VARIÁVEL
a

[1, 2, 3]

In [ ]:
#PODEMOS ATRIBUIR UM ITEM DA VARIÁVEL "A" A UMA VARIÁVEL "B"
b = a[0]

In [ ]:
b

1

In [ ]:
#RETORNANDO UM ITEM DA LISTA E GRAVANDO EM UMA OUTRA VARIÁVEL
listas1 = listas[1]

In [ ]:
#IMPRIMINDO A NOVA VARIÁVEL
listas1

[3, 2, 1]

In [ ]:
#SLINCING COM ESTÁ NOVA VARIÁVEL
var_1_0 = listas1[0]

In [ ]:
var_1_0

3

In [ ]:
#SLINCING COM O SEGUNDO ELEMENTO DA NOVA VARIÁVEL
var_1_1 = listas1[1]

In [ ]:
var_1_1

2

**OPERAÇÕES COM LISTAS**

In [ ]:
#CRIANDO UMA LISTA ALINHADA
listas = [[1,2,3], [3,2,1], [99,33,66,55]]

In [ ]:
listas

[[1, 2, 3], [3, 2, 1], [99, 33, 66, 55]]

In [ ]:
#ATRIBUINDO A VARIÁVEL "A" AO PRIMEIRO VALOR DA PRIMEIRA LISTA
listas[0][0] = "a"

In [ ]:
listas

[['a', 2, 3], [3, 2, 1], [99, 33, 66, 55]]

In [ ]:
#ATRIBUINDO A VARIÁVEL "B" AO PRIMEIRO VALOR DA SEGUNDO LISTA
listas[1][2] = "b"

In [ ]:
listas

[['a', 2, 3], [3, 2, 'b'], [99, 33, 66, 55]]

In [ ]:
#PODEMOS SOMAR UM VALOR A ALGUM ITEM DA LISTA
c = listas[2][3] + 55

In [ ]:
c

110

**ESTRUTURA DE DADOS - DICIONÁRIOS**

OS DICIONÁRIOS SÃO CONSTRUÍDOS COM USO DE CHAVES { } E VÍRGULAS SEPARANDO CADA ELEMENTO DO DICIONÁRIO DICT = {K1:V1, K2:V2...KN:VN}

{CHAVE1:VALOR1, CHAVE2:VALOR2}

In [ ]:
#CRIANDO UM DICIONÁRIO
estudantes_dict = {"david":29, "Marques":28, "Medina":34, "Italo":40}

In [ ]:
estudantes_dict

{'Italo': 40, 'Marques': 28, 'Medina': 34, 'david': 29}

In [ ]:
#UMA VEZ DEFINIDO O DICINÁRIO, PODEMOS USAR A CHAVE DO DICIONÁRIO - RETORNANDO O VALOR DA CHAVE, ONDE O ÍNDICE É DAVID
estudantes_dict["david"]

29

In [ ]:
#PODEMOS ATRIBUIR UM NOVO VALOR A UMA DETERMINADA CHAVE
estudantes_dict["Medina"] = 99

In [ ]:
#IMPRIMINDO ALTERAÇÃO
estudantes_dict["Medina"]

99

In [ ]:
#IMPRIMINDO O DICIONÁRIO ATUALIZADO
estudantes_dict

{'Italo': 40, 'Marques': 28, 'Medina': 99, 'david': 29}

In [ ]:
#LIMPAR O DICIONÁRIO
estudantes_dict.clear()

In [ ]:
#IMRPIMINDO O DICIONÁRIO LIMPO
estudantes_dict

{}

In [ ]:
#DELETANDO O DICIONÁRIO
del estudantes_dict

In [ ]:
#RECRIANDO UM DICIONÁRIO
estudantes_d = {"david":29, "Marques":28, "Medina":34, "Italo":40}

In [ ]:
#LENDO O TAMANHO DO DICIONÁRIO
len(estudantes_d)

4

In [ ]:
#EXTRAINDO APENAS AS CHAVES DO DICIONÁRIO
estudantes_d.keys()

dict_keys(['david', 'Marques', 'Medina', 'Italo'])

In [ ]:
#EXTRAINDO APENAS OS VALORES
estudantes_d.values()

dict_values([29, 28, 34, 40])

In [ ]:
#RETORNANDO TODOS OS ITENS
estudantes_d.items()

dict_items([('david', 29), ('Marques', 28), ('Medina', 34), ('Italo', 40)])

In [ ]:
#CRIANDO UMA SEGUNDA TABELA
estudantes2 = {"Maria": 25, "Erika": 33, "Milton": 35}

In [ ]:
#UDPDATE DE UM DICIONÁRIO EM OUTRO 
estudantes_d.update(estudantes2)

In [ ]:
#IMPRIMINDO O RESULTADO DO ULPDATE
estudantes_d

{'Erika': 33,
 'Italo': 40,
 'Maria': 25,
 'Marques': 28,
 'Medina': 34,
 'Milton': 35,
 'david': 29}

In [ ]:
#CRIANDO UM DICIONÁRIO VAZIO
dic99 = {}

In [ ]:
#ATRIBUINDO VALORES AO DICIONÁRIO VAZIO
dic99["key_one"] = 2

In [ ]:
#ATRIBUINDO UM SGUNDO VALOR 
dic99["Eduardo"] = 29

In [ ]:
#CRIANDO UM DICIONÁRIO DE LISTAS
dic3 = {"key1":1230, "key2":[22,453,73.4], "key3":["maça", "leite", "batata"]}

In [ ]:
#IMPRIMINDO
dic3

{'key1': 1230, 'key2': [22, 453, 73.4], 'key3': ['maça', 'leite', 'batata']}

In [ ]:
dic3["key2"]

[22, 453, 73.4]

In [ ]:
#ACESSANDO A TERCEIRA LISTA DO DICIONÁRIO E O ITEM 0
dic3["key3"][0].upper()

'MAÇA'

In [ ]:
# Operações com itens da lista, dentro do dicionário
var1 = dic3['key2'][0] - 2

In [ ]:
var1

20

In [ ]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista - SUBTRAÇÃO E ATRIBUÍÇÃO AO MESMO TEMPO
dic3['key2'][0] -= 2

In [ ]:
dic3

{'key1': 1230, 'key2': [20, 453, 73.4], 'key3': ['maça', 'leite', 'batata']}

### Criando dicionários aninhados

In [ ]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [ ]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [ ]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

## Tuplas##

In [ ]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes")

In [ ]:
# Imprimindo a tupla
tupla1

('Geografia', 23, 'Elefantes')

In [ ]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: ignored

In [ ]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [ ]:
tupla1

'Chocolate'

In [ ]:
tupla1 = ("Geografia", 23, "Elefantes")

In [ ]:
# Criando uma nova tupla
t2 = ('A', 'B', 'C')

In [ ]:
t2

('A', 'B', 'C')

In [ ]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [ ]:
lista_t2.append('D')

In [ ]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [ ]:
t2

('A', 'B', 'C', 'D')

**LISTA DE EXERCÍCIO 1**

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [ ]:
a,b,c,d,e,f,g,h,i,j = 1,2,3,4,5,6,7,8,9,10

In [ ]:
ex1=[a,b,c,d,e,f,g,h,i,j]

In [ ]:
ex1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [ ]:
list_obj = ["bk", "mac","mania de churrasco", "paris 6","terraço"]

In [ ]:
list_obj

['bk', 'mac', 'mania de churrasco', 'paris 6', 'terraço']

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [ ]:
var1, var2 = "David", "Marques"

In [ ]:
Nome = var1 + " " + var2

In [ ]:
Nome

'David Marques'

In [ ]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [ ]:
tupla1 = (1, 2, 2, 3, 4, 4, 4, 5)

In [ ]:
tupla1.count(4)

3

In [ ]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [ ]:
dic_zz = {}

In [ ]:
dic_zz

{}

In [ ]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [ ]:
dic_zy = {"a":3, "b":"xx", "c":99}

In [ ]:
dic_zy

{'a': 3, 'b': 'xx', 'c': 99}

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [ ]:
dic_zy["chave99"] = 88

In [ ]:
dic_zy

{'a': 3, 'b': 'xx', 'c': 99, 'chave99': 88}

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [ ]:
dic_yy = {'chave1':44, 'chave2':22, 'chave3':[66,33]}

In [ ]:
dic_yy

{'chave1': 44, 'chave2': 22, 'chave3': [66, 33]}

**CONDICIONAIS IF(SE)        ELSE(SENAO)**

O CONDICIONAL IF PERMITE DIZER O COMPUTADOR PARA EXECULTAR AÇÕES COM BASE EM UM DETERMINADO CONJUNTO DE RESULTADOS

In [ ]:
# Condicional If
if 5 > 2:
    print("Python funciona!")

Python funciona!

In [ ]:
# Statement If...Else
if 5 < 2:
   print("Python funciona!")
else:
   print("Algo está errado!")

Algo está errado!

In [ ]:
6 > 3

True

In [ ]:
3 > 7

False

In [ ]:
4 < 8

True

In [ ]:
4 >= 4

True

In [ ]:
if 5 == 5:
  print("Testando Python!")

Testando Python!

In [ ]:
if True:
    print('Parece que Python funciona!')

Parece que Python funciona!

### Condicionais Aninhados

In [ ]:
idade = 18
if idade > 17:
   print("Você pode dirigir!")

Você pode dirigir!

In [ ]:
Nome = "Bob"
if idade > 13:
 if Nome == "Bob":
   print("Ok Bob, você está autorizado a entrar!")
 else:
   print("Desculpe, mas você não pode entrar!")

Ok Bob, você está autorizado a entrar!

In [ ]:
idade = 13
Nome = "Bob"
if idade >= 13 and Nome == "Bob":
    print("Ok Bob, você está autorizado a entrar!")

Ok Bob, você está autorizado a entrar!

In [ ]:
idade = 12
Nome = "Bob"
if (idade >= 13) or (Nome == "Bob"):
    print("Ok Bob, você está autorizado a entrar!")

Ok Bob, você está autorizado a entrar!

**ESTRUTURA DE REPETIÇÃO**

LOOP FOR

PODEMOS UTILIZAR O LOOP FOR EM OBJETOS SEQUENCIAIS COMO:
  STRINGS
  LISTAS
  TUPLAS
  ELEMENTOS DE DICIONÁRIO
  ARQUIVOS

In [ ]:
#CRIANDO UMA TUPLA E IMPRIMINDO CADA UM DOS VALORES
tp = (2,3,4)
for i in tp:
    print(i)

2
3
4

In [ ]:
# Criando uma TUPLA e imprimindo cada um dos valores
for contador in range(0,5):
    print(contador)

0
1
2
3
4

In [ ]:
# Criando uma LISTA e imprimindo cada um dos valores
listaDomercado = ["frutas", "mel", "pao"]
for i in listaDomercado:
    print(i)

frutas
mel
pao

In [ ]:
# Imprimindo os valores no intervalo entre 0 e 5 (exclusive)
for contador in range(0,33):
    print(contador)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32

In [ ]:
# Imprimindo na tela os números pares da lista de números
lista = [1,2,3,4,5,6,7,8,9,10]
for num in lista:
    if num % 2 == 0:
        print (num)

2
4
6
8
10

In [ ]:
# Listando os números no intervalo entre 0 e 101, com incremento em 2
for i in range(0,101,2):  
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
# Strings também são sequências
for caracter in 'Python é uma linguagem de programação divertida!':
    print (caracter)

P
y
t
h
o
n

é

u
m
a

l
i
n
g
u
a
g
e
m

d
e

p
r
o
g
r
a
m
a
ç
ã
o

d
i
v
e
r
t
i
d
a
!

### Loops Aninhados

In [ ]:
# Loops aninhados
for i in range(0,5):
    for a in range(0,5):
        print(a)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4

In [ ]:
# Operando os valores de uma lista com loop for
listaB = [32,53,85,10,15,17,19]
soma = 0
for i in listaB:
    double_i = i * 2
    soma += double_i

print(soma)

462

In [ ]:
# Loops em lista de listas
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]
for valor in listas:
    print(valor)

[1, 2, 3]
[10, 15, 14]
[10.1, 8.7, 2.3]

In [ ]:
# Contando os itens de uma lista
lista = [5,6,10,13,17]
count = 0
for item in lista:
    count += 1
    
print(count)

5

In [ ]:
# Contando o número de colunas
lst = [[1,2,3],[3,4,5],[5,6,7]]
primeira_linha = lst[0]
count = 0
for column in primeira_linha:
    count = count + 1
    
print(count)

3

In [ ]:
# Pesquisando em listas
listaC = [5, 6, 7, 10, 50]

# Loop através da lista
for item in listaC:
    if item == 5:
        print("Número encontrado na lista!")

Número encontrado na lista!

In [ ]:
# Listando as chaves de um dicionário
dict = {'k1':'Python','k2':'R','k3':'Scala'}
for item in dict:
    print(item)

k1
k2
k3

In [ ]:
idade = 29
if idade > 17:
   print("Você está quase trintando")

Você está quase trintando

In [ ]:
Nome = "David"
if idade > 18:
 if Nome == "David":
    print("Acesso liberado")
 else:
  print("acesso não liberado")

Acesso liberado

In [ ]:
idade = 29
if idade > 18 and Nome == "David":
  print("Você foi aprovado!")

Você foi aprovado!

In [ ]:
#USANDO MAIS DE UMA CONDIÇÃO NA CLÁUSULA IF
# Usando mais de uma condição na cláusula if 

disciplina = input('Digite o nome da disciplina: ')
nota_final = input('Digite a nota final (entre 0 e 100): ')

if disciplina == 'Geografia' and nota_final >= '70':
    print('Você foi aprovado!')
else:
    print('Lamento, acho que você precisa estudar mais!')

Digite o nome da disciplina: Geografia
Você foi aprovado!

In [ ]:
# Usando mais de uma condição na cláusula if e introduzindo Placeholders

disciplina = input('Digite o nome da disciplina: ')
nota_final = input('Digite a nota final (entre 0 e 100): ')
semestre = input('Digite o semestre (1 a 4): ')

if disciplina == 'Geografia' and nota_final >= '50' and int(semestre) != 1:
    print('Você foi aprovado em %s com média final %r!' %(disciplina, nota_final))
else:
    print('Lamento, acho que você precisa estudar mais!')

Digite o nome da disciplina: 80
Digite a nota final (entre 0 e 100): 80
Digite o semestre (1 a 4): 1
Lamento, acho que você precisa estudar mais!

**LOOP FOR**

In [ ]:
#CRIANDO UMA TUPLA E IMPRIMINDO CADA UM DOS VALORES
tp = (2,3,4)
for i in tp:
  print(i)

2
3
4

In [ ]:
#CRIANDO UMA LISTA E IMPRIMINDO CADA UM DOS VALORES
listaDoMercado = ["leite", "Frutas","Bombom"]
for i in listaDoMercado:
  print(i)

leite
Frutas
Bombom

In [ ]:
#IMPRIMINDO OS VALORES NO INTERVALO ENTRE 0 E 5 (EXLUSIVE)
for contador in range (0,5):
    print(contador)

0
1
2
3
4

In [ ]:
#IMPRIMINDO NA TELA OS NÚMEROS PARES DE LISTA DE NÚMEROS
lista = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
for num in lista:
  if num % 2 == 0:
    print(num)

2
4
6
8
10
12
14

In [ ]:
#LISTANDO OS NÚMEROS NO INTERVALO ENRTE 0 E 101, COM INCREMENTO EM 2
for i in range (0,101,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### Loops Aninhados

In [ ]:
# Loops aninhados
for i in range(0,5):
    for a in range(0,5):
        print(a)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4

In [ ]:
# Operando os valores de uma lista com loop for
listaB = [32,53,85,10,15,17,19]
soma = 0
for i in listaB:
  double_i = i * 2
  soma += double_i

  print(soma)

64
170
340
360
390
424
462

In [ ]:
# Loops em lista de listas
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]
for valor in listas:
    print(valor)

[1, 2, 3]
[10, 15, 14]
[10.1, 8.7, 2.3]

In [ ]:
# Contando os itens de uma lista
lista = [5,6,10,13,17]
count = 0
for item in lista:
    count += 1
    
print(count)

5

In [ ]:
# Contando o número de colunas
lst = [[1,2,3],[3,4,5],[5,6,7]]
primeira_linha = lst[0]
count = 0
for column in primeira_linha:
    count = count + 1
    
print(count)

3

In [ ]:
# Pesquisando em listas
listaC = [5, 6, 7, 10, 50]

# Loop através da lista
for item in listaC:
    if item == 5:
        print("Número encontrado na lista!")

Número encontrado na lista!

In [ ]:
# Listando as chaves de um dicionário
dict = {'k1':'Python','k2':'R','k3':'Scala'}
for item in dict:
    print(item)

k1
k2
k3

In [ ]:
# Imprimindo chave e valor do dicionário. Usando o método items() para retornar os itens de um dicionário
for k,v in dict.items():
    print (k,v)

k1 Python
k2 R
k3 Scala

# Expressões Lambda

In [ ]:
#DEFININDO UMA FNÇÃO - 3 LINHAS DE CÓDIGO
def potencia(num):
    result = num**2
    return result

In [ ]:
potencia(5)

25

In [ ]:
#DENININDO UMA FUNÇÃO - 2 LINHAS DE CÓDIGO
def potencia(num):
  return num**2

In [ ]:
potencia(5)

25

In [ ]:
#DEFININDO UMA FUNÇÃO - 1 LINHA DE CÓDIGO
potencia = lambda num: num**2

In [ ]:
potencia(5)

25

In [ ]:
#OPERADORES DE COMPARAÇÃO RETORNAM BOOLEAN, TRUE OR FALSE
Par = lambda x: x%2==0

In [ ]:
Par(4)

True

In [ ]:
first = lambda s: s[0]

In [ ]:
first("Python")

'P'

In [ ]:
reverso = lambda s: s[:: -1]

In [ ]:
reverso("Python")

'nohtyP'

In [ ]:
addNum = lambda x,y : x+y

In [ ]:
addNum(5,5)

10

## Exercícios - Métodos e Funções

In [ ]:
# Exercício 1 - Crie uma função que imprima a sequência de números pares entre 1 e 20 (a função não recebe parâmetro) e 
# depois faça uma chamada à função para listar os números
def listaPar():
  for i in range(0,20,2):
      print(i)

listaPar()

0
2
4
6
8
10
12
14
16
18

In [ ]:
# Exercício 2 - Crie uam função que receba uma string como argumento e retorne a mesma string em letras maiúsculas.
# Faça uma chamada à função, passando como parâmetro uma string
def listaString(texto):
    print(texto.upper())
    return

listaString("Rumo à Análise de Dados")

RUMO À ANÁLISE DE DADOS

In [ ]:
# Exercício 3 - Crie uma função que receba como parâmetro uma lista de 4 elementos, adicione 2 elementos a lista e 
# imprima a lista
def novaLista(lista):
  print(lista.append(5))
  print(lista.append(7))

lista1 = [1,2,3,4]
novaLista(lista1)
print(lista1)

None
None
[1, 2, 3, 4, 5, 7]

In [ ]:
# Exercício 4 - Crie uma função que receba um argumento formal e uma possível lista de elementos. Faça duas chamadas 
# à função, com apenas 1 elemento e na segunda chamada com 4 elementos

def printNum(arg1,*lista):
  print (arg1)
  for i in lista:
    print(i)
  return;

#chamada a função
printNum(100)
printNum("A","B","C")

100
A
B
C

## Classes

In [5]:
# Criando uma classe chamada Livro
class Livro():
    
    # Este método vai inicializar cada objeto criado a partir desta classe
    # O nome deste método é __init__
    # (self) é uma referência a cada atributo de um objeto criado a partir desta classe
    def __init__(self):
        
        # Atributos de cada objeto criado a partir desta classe. 
        # O self indica que estes são atributos dos objetos
        self.titulo = 'O Monge e o Executivo'
        self.isbn = 9988888
        print("Construtor chamado para criar um objeto desta classe")
        
    # Métodos são funções, que recebem como parâmetro atributos do objeto criado    
    def imprime(self):
        print("Foi criado o livro %s e ISBN %d" %(self.titulo, self.isbn))

In [6]:
#CRIANDO UMA INSTÂNCIA DA CLASSE LIVRO
Livro1 = Livro()

Construtor chamado para criar um objeto desta classe

In [7]:
#TIPO DO OBJETO LIVRO1
type(Livro1)

__main__.Livro

In [8]:
#ATRIBUTO DO OBJETO LIVRO1
Livro1.titulo

'O Monge e o Executivo'

In [9]:
#MÉTODO DO OBJETO LIVRO1
Livro1.imprime()

Foi criado o livro O Monge e o Executivo e ISBN 9988888

In [10]:
#CRIANDO A CLASSE LIVRO COM PARÂMETROS NO MÉTODO CONSTRUTOR
class Livro():
   def __builtin__(self, titulo, isbn):
     self.titulo = titulo
     self.isbn = isbn
     print("construtor chamado para criar um objeto desta classe")

   def imprime(self, titulo, isbn):
        print("Esse é o livro %s e ISBN %d" %(titulo, isbn))

In [11]:
#CRIANDO A CLASSE CACHORRO
class Cachorro():
  def __init__(self, raça):
    print("Construtor chamado para criar um objeto desta classe")

In [12]:
#CRIANDO UM OBJETO A PARTIR DA CLASSE CACHORRO
Rex = Cachorro(raça="Labrador")

Construtor chamado para criar um objeto desta classe

In [13]:
#CRIANDO UM OBJETO A PARTIR DA CLASSE CACHORRO
Golias = Cachorro(raça="Huskie")

Construtor chamado para criar um objeto desta classe

In [15]:
#ATRIBUINDO DA CLASSE CACHORRO, UTILIZANDO PELO OBJETO CRIADO
Rex

In [17]:
#ATRIBUINDO DA CLASSE CACHORRO, UTILIZADO PELO OBJETO CRIADO
Golias

### Acessando Banco de Dados com Python

In [18]:
# Reemove o arquivo com o banco de dados SQLite (caso exista);
import os
os.remove("escola.db") if os.path.exists("escola.db") else None

In [19]:
#IMPORTANDO O MÓDULO DE ACESSO AO SQLlite
import sqlite3

In [21]:
#CRIAR UMA CONEXÃO COM O BANCO DE DADOS
#SE O BANCO DE DADOS NÃO EXISTIR, ELE É CRIADO NESTE MOMENTO
con = sqlite3.connect("escola.db")

In [22]:
type(con)

sqlite3.Connection

In [23]:
#CRIANDO UM CURSOR
#(UM CURSOR PERMITE PERCORRER TODOS OS REGISTROS EM UM CONJUNTO DE DADOS)
cur = con.cursor()

In [24]:
type(cur)

sqlite3.Cursor

In [25]:
#CRIAR UMA INSTRUÇÃO SQL
sql_create = "create table cursos "\
"(id integer primary key, "\
"titulo varchar(100), "\
"categoria varchar(140))"

In [26]:
#EXECUTANDO A INSTRUÇÃO SQL NO CURSOR
cur.execute(sql_create)

In [27]:
#CRIANDO OUTRA SETENÇA SQL PARA INSERIR REGISTROS
sql_insert = "insert into cursos values(?,?,?)"

In [32]:
#DADOS
recset = [(1000,"Ciência de Dados", "Data Science"),
          (1001,"Big Data Fundamentos", "Big Data"),
          (1002,"Python Fundamentos", "Análise de Dados")]

In [34]:
#INSERINDO OS REGISTROS
for rec in recset:
    cur.execute(sql_insert, rec)

In [35]:
#GRAVA A TRANSAÇÃO
con.commit()

In [39]:
#CRIANDO UMA OUTRA SENTENÇA SQL PARA SELECIONAR REGISTROS
sql_select = "select *from cursos"

In [40]:
#SELECIONA TODOS OS REGRISTROS E RECUPERA OS REGISTROS
cur.execute(sql_select)
dados = cur.fetchall()

In [41]:
#MOSTRA
for linha in dados:
  print("Curso Id: %d, Titulos: %s, Categoria: %s \n" %linha)

Curso Id: 1000, Titulos: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Titulos: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Titulos: Python Fundamentos, Categoria: Análise de Dados

In [42]:
#GERANDO OUTROS REGISTROS
recset = [(1003,"Gestão de Dados com MongoDB", "Big Data"),
          (1004,"R Fundamentos", "Análise de Dados")]

In [43]:
#INSERINDO OS REGISTROS
for rec in recset:
  cur.execute(sql_insert, rec)

In [44]:
#GRAVANDO A TRANSAÇÃO
con.commit()

In [49]:
#MOSTRA
for rec in recset:
    print("Curso Id: %d, Titulos: %s, Categoria: %s \n" %rec)

Curso Id: 1003, Titulos: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Titulos: R Fundamentos, Categoria: Análise de Dados

In [50]:
#FECHA A CONEXÃO
con.close

### Criando o Banco de Dados e Inserindo Dados

In [14]:
#VERSÃO DA LINGUAGEM PYTOHN
from platform import python_version
print("Versão da Línguagem Python Usada Neste Google Colab:", python_version())

Versão da Línguagem Python Usada Neste Google Colab: 3.7.11

**Criando Graficos com Matplotlib e SQLite**

In [24]:
#INSTALANDO A VERSÃO EXATA DO PACOTE MATPLOTLIB
!pip install -q -U matplotlib==3.2.1

In [25]:
import matplotlib as mat
mat.__version__

'3.2.2'

In [ ]:
import sqlite3
import random
import datetime
import matplotlib.pyplot as plt
%matplotlib %notebook


#CRIANDO UMA CONEXÃO
conn = sqlite3.connect("dsa.db")

#CRIANDO UM CURSOR
c = conn.cursor()

#FUNÇÃO PARA CRIAR UMA TABELA
def create_table():
  c.execute("INSERT INTO produtos VALUES (now, 'Teclado', 130)")
  conn.commit()
  c.close()
  conn.close()

#USANDO VARIÁVEIS PARA INSERIR DADOS
def data_insert():
  new_date = datetime.datetime.now()
  new_prod_name = 'monitor'
  new_valor = random.random(50,100)
  c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?,?,?)",
            (new_date, new_prod_name, new_valor))
         conn.commit()

#LEITURA DE DADOS
def leitura_todos_dados
  c.execute("SELECT * FROM PRODUTOS")
  for linha in c.fetchall():
    print(linha)

#LEITURA DE REGISTROS ESPECÍFICOS
def leitura_registros():
  c.execute("SELECT * FROM PRODUTOS WHERE valor > 60.0")
  for linha in c.fetchall():
    print(linha)

#LEITURA DE COLUNAS ESPECÍFICAS
def leitura_colunas():
  c.execute("SELECT * FROM PRODUTOS")
  for linha in c.fetchall():
    print(linha[3])